* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #f8f9fa; */
}


:root {
    --parafont-family: 'Roboto Slab', serif;
    --headfont-family: 'Lato', sans-serif;
    --loginfont-family: "Poppins", sans-serif !important;
}

/* ---------------------------------------------------------------------------------------------------------------- */
  
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4px 16px;
  }
  
  #cards-container {
    overflow: hidden;
    margin: 20px;
  }
  
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 99999px;
  }
  
  .card {
    /* Add shadows to create the "card" effect */
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 235px;
    margin: 15px 7.5px;
  }
  
  .card:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .card .img {
    max-width: 220px;
    height: 220px;
    display: inline-block;
  }
  
  #slide-left-container,
  #slide-right-container {
    display: none;
  }
  
  #slide-left-container.active,
  #slide-right-container.active {
    display: block;
    cursor: pointer;
  }
  
  .slide-left,
  .slide-right {
    border-color: #fff;
    border-style: solid;
    height: 20px;
    width: 20px;
    margin-top: 30%;
  }
  
  .slide-left {
    border-width: 4px 0 0 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 40%;
  }
  
  .slide-right {
    border-width: 4px 4px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 22%;
  }
  /* -----------------------------------footer-------------------------------------------------- */

.contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    background-color: #444;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 32px;
    color: #ea8685;
    transition: .3s linear;
}

.card:hover .icon{
    transform: scale(4);
    opacity: 0;
}

.card-content h3,
.card-content span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3{
    top: 20px;
    text-transform: uppercase;
    color: #ea8685;
}

.card-content span{
    bottom: 20px;
    color: #fff;
    font-weight: 500;
}

.card:hover h3{
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.card:hover span{
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}


@media screen and (max-width:900px){
    .card{
        flex: 100%;
        max-width: 500px;
    }
}